*{
  margin: 0;
  padding: 0;
}
h1{
  padding: 20px;
  margin: 20px;
  text-align: center;
  border-radius: 12px;
  background-color: blueviolet;
  color: white;
}
.mainFunctions{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.mainFuntionInput{
  border: 1px solid black;
  border-radius: 50px;
  font-size: 20px;
  min-width: 200px;
}
.mainFuntionInput input{
  border: none;
  padding: 20px;
  border-radius: 50px;
  min-width: 150px;
  outline: none;
}
.mainFuntionInput button{
  padding: 20px;
  border-radius: 50px;
  border: none;
  margin: 3px;
  min-width: 80px;
}
.mainContent{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.mainContent>div{
  border-radius: 12px;
  border: 1px solid black;
}
.mainContent>div:first-child{
  overflow: scroll;
}
.toggle{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50px;
  width: 200px;
  position: relative;
}
.toggle input[type=checkbox]{
  display: none;
}
.toggle label{
  text-align: center;
}
.toggle-color{
  position: absolute;
  top: 0;
  left: 0;
  background-color: aqua;
  border-radius: 50px;
  width: 50%;
  height: 100%;
  z-index: -1;
}
#machine{
  width: 70dvw;
  height: 70dvh;
  cursor: grab;
}
#history-list{
  display: flex;
  flex-wrap: wrap;
}
.stringAdded{
  list-style: none;
  display: flex;
  border-radius: 12px;
  background-color: lightgray;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 5px;
}